{% extends 'main.html' %}

{% block content %}
<div class="title">
    <h1>Adicionar Playlist</h1>
</div>
<form method="POST" action="/playlists/add">
    <label for="name">Escreva um nome para sua playlist:</label>
    <input type="text" name="name" placeholder="Escreva um nome para sua playlist:" required/>
    <input type="submit" value="Criar Playlist" />
</form>

<nav class="perfil">
        <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Sair</a></li>
        </ul>
    </nav>
{% endblock %}