{% extends 'main.html' %}

{% block content %}
        <div class="title">
            <h1>Usuários encontrados</h1>
        </div>
        {% for user in users %}
        <br/><br/>
        <div class="playlist-card">
            <h2><a href="/user/{{ user.code }}">{{ user.name }}</a></h2>
        </div>
        {% endfor %}

        <nav class="perfil">
                <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/logout">Sair</a></li>
                </ul>
            </nav>
            {% endblock %}

