
{% extends 'main.html' %}

{% block content %}
<div class="perfil">
            <h1>Bem vindo, {{username}}!</h1>
            {% if picture != None %}
            <img src="data:image/png;base64,{{picture}}" width="300px" height="200px">
            {% endif %}
        </header>
        <nav>
            <ul>
                <li><a href="/playlists/add ">Criar nova Playlist</a></li>
                <li><a href="/playlists">Ver minhas Playlists</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}