{% extends 'main.html' %}

{% block content %}
        <div class="title">
            <h1>Playlists</h1>
        </div>
        <button><a href="/playlists/add">Adicionar Playlist</a></button>
        <br/><br/>
        {% for playlist in playlists %}
        <div class="playlist-card">
            <h2><a href="/playlists/{{ playlist.code }}">{{ playlist.name }}</a></h2>
            <p>Publisher: {{ playlist.publisher.name }}</p>
        </div>
        {% endfor %}

        <nav class="perfil">
                <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/logout">Sair</a></li>
                </ul>
            </nav>
            {% endblock %}

