{% extends 'main.html' %}

{% block content %}
<h1>Playlist: {{ playlist.name }}</h1>
            <p>Publisher: {{ playlist.publisher.name }}</p>
        <section class="musics">
            {% if playlist.musics != None %}
            {% for music in playlist.musics %}
            <div class="music">
                <h2>{{ music.name }}</h2>
                <audio controls src="data:audio/mp3;base64,{{ music.content }}"></audio>
            </div>
            {% endfor %}
            {% endif %}
        </section>
        <br/>
        <hr/>
        <br/>
        <h1>Adicionar Música a Playlist</h1>
        <section class="add-music">
            <form method="POST" action="/playlists/{{ playlist.code }}/music/add" enctype="multipart/form-data">
                <input type="text" name="name" required placeholder="Digite o nome da musica" />
                <br/>
                <input type="text" name="artist" required  placeholder="Digite o nome do Artista ou Banda"/>
                <br/>
                <select name="genre" required placeholder="Escolha o genero no qual a musica mais se adequa">
                    {% for genre in genres %}
                    <option value="{{ genre.code }}">{{ genre.description }}</option>
                    {% endfor %}
                </select>
                <br/>
                <input type="file" name="music" accept="audio/*" required />
                <br/>
                <input type="submit" value="Adicionar musica a playlist"/>
            </form>
        </section>

        <nav class="perfil">
                <ul>
                        <li><a href="/home">Home</a></li>
                        <li><a href="/logout">Sair</a></li>
                </ul>
            </nav>
        {% endblock %}
