{% extends 'main.html' %}

{% block content %}
        <div class="perfil">
            <h1>{{username}}</h1>
            {% if  picture != None %}
            <img src="data:image/png;base64,{{picture}}" width="300px" height="200px">
            {% endif %}
        </div>
        <nav>
            <ul>
                {% if not follow %}
                <li><a href="/follow">Seguir</a></li>
                {% else %}
                <li><a href="/unfollow">Deseguir</a></li>
                {% endif %}
                <li><a href="#">Ver Playlists</a></li>
            </ul>
        </nav>
{% endblock %}

<nav class="perfil">
        <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/logout">Sair</a></li>
        </ul>
    </nav>